body {
    padding-top: 75px;
}
.navbar-text {
    margin-left: 15px;
}
.table td, th {
    text-align: center;
}
.modal {
    text-align: center;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 40%;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.group-color-student {
    font-size: 0.82em;
    background-color: #7986CB;
    color: #FFF;
}

.group-color-teacher {
    font-size: 0.82em;
    background-color: #A1887F;
    color: #FFF;
}

.group-color-curator {
    font-size: 0.82em;
    background-color: #CE93D8;
    color: #FFF;
}

.group-color-default {
    background-color: #080808;
    color: snow;
}
.group-color-date {
    background-color: #FFF;
    color: #757575;
}
