body {
    padding-top: 75px;
}
.navbar-text {
    margin-left: 15px;
}
.table td, th {
    text-align: center;
}
.modal {
    text-align: center;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 40%;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.group-color-student {
    background-color: #b2dba1;
    color: deeppink;
}

.group-color-teacher {
    background-color: springgreen;
    color: tomato;
}

.group-color-curator {
    background-color: #bce8f1;
    color: #c9302c;
}

.group-color-default {
    background-color: #080808;
    color: snow;
}
