body {
    padding-top: 75px;
}
.navbar-text {
    margin-left: 15px;
}
.table td, th {
    text-align: center;
}
.modal {
    text-align: center;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 40%;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}